<% if(locals.errorMessage != null) { %>
    <h4><%= errorMessage %></h4>
<% } %>

<h2>All authors</h2>
<br>
<form action="/authors" method="GET" >
<label>Name</label>
<input type="text" name="name" id="name" >
<button type="submit" > Search</button>
</form>
<br>
<br>

<div>
    <h4>Authors </h4>
    
    <% if(locals.authors != null) { locals.authors.forEach(function(item)  { %>
        <span style="width: 200px"><%= item.name%> </span>
        <a href="/authors/<%=item.id%>">View</a>
        <a href="/authors/<%=item.id%>/edit">Update</a>
        <form action="/authors/<%=item.id%>?_method=DELETE"   method="POST" >
            <button type="submit"> Delete </button>
        </form>
    <% })} %>
    
</div>