<% if(locals.errorMessage != null) { %> 
    <h3><%= errorMessage %> </h3>
<% } %>
<br>

    <div>
        <h1 class="page-header"><%= book.title %></h1>
    </div>
    
    <div class="book-details">
            <div>
                <img src="<%=book.coverImagePath%>"  class="book-cover" alt="Not able to load">     
                <div class="book-details-btn-grid">            
                    <a class="btn btn-primary"  href="/books/<%=book.id%>/edit">Update</a>
                    <form action="/books/<%=book.id%>?_method=DELETE"   method="POST" >
                        <button class="btn btn-danger" type="submit"> Delete </button>
                    </form>
                    <a class="btn btn-primary book-details-author-button" href="/authors/<%=book.author.id%>">View Author</a>
                </div>
            </div>
        <div class="book-details-grid">
            <div class="book-details-label"> <label for="author">Author :</label></div>
            <div><%= " "+book.author.name %> </div>

            <div class="book-details-label"> <label for="Publish Date">Publish Date :</label></div>
            <div><%= " "+book.publishedDate.toDateString() %> </div>

            <div class="book-details-label"> <label for="Page Count">Page Count :</label></div>
            <div><%= " "+book.pageCount %> </div>

            <div class="book-details-label"> <label for="description">Description :</label></div>
            <div><%= " "+book.description %> </div>
        </div>
    </div>